<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/css/style.css' />
  <title>homeBase: a café tracker</title>
</head>
<body>
  <h1>homeBase</h1>
  <p>a café tracker in rural central texas</p>
</body>
</html>