<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/css/style.css' />
  <title>homeBase: a café tracker</title>
</head>
<body>
    <!-- More html will go here -->
    <h2>Enter a New Cafe</h2>
<form action="/cafes" method="POST">
  <label>Name:
   <input type="text" name="name">
  </label>
  <label>Address & Town:
   <input type="text" name="address">
  </label>
  <label>Hours:
   <select name="hours">
    <input type="text" name="hours">
   </select>
  </label>
  <label>Open Sundays:
   <input type="checkbox" name="openSundays" checked>
  </label>
  <input type="submit" value="Add Cafe">
</form>

</body>
</html>